* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
}
.container{
    display: flex;
    flex: 1;
}
main{
    flex: 1;
    padding: 0 20px;
}
nav {
    display: flex;
    flex: 0 0 180px;
    padding: 0 0px;
    width: 85%;
}
aside {
    flex: 0 0 130px;
    padding: 0 0px;
}
article {
    display: flex;
    width: 100%;
}

