body {
    margin: 0;
    padding: 0;
    background: #fff;
    color: #4a4a4a;
}
header, footer {
    font-size: large;
    text-align: center;
    padding: 0.3em 0;
    background-color: #4a4a4a;
    color: #f9f9f9;
}
nav {
    background: #eee;
}
main {
    background: #f9f9f9;
}
aside {
    background: #eee;
}
.postlist > .pl-element > .posting {
    background-color: antiquewhite;
    width: 450px;
    height: 500px;
}
.posting img {
    width: 400px;
    height: 300px;
    object-fit: cover;
}
.posting .posting-title{
    font-size: 24px;
}
.menulist{
    display: flex;
}
.postlist {
    display: flex;
}