body {
    margin: 0;
    padding: 0;
    background: #fff;
    color: #4a4a4a;
}
header, footer {
    font-size: large;
    text-align: center;
    padding: 0.3em 0;
    background-color: #4a4a4a;
    color: #f9f9f9;
}
nav {
    background: #eee;
}
main {
    background: #f9f9f9;
}
aside {
    background: #eee;
}
.postlist {
    background-color: #f9f9f9;
}
.postlist > .pl-element > .posting {
    width: 450px;
    height: 500px;
    border-radius: 30px;
    box-shadow: 1px 1px 1px slategray;
    background-color: white;
}
.posting img {
    width: 400px;
    height: 300px;
    object-fit: cover;
}
.posting .posting-title{
    font-size: 24px;
    text-align: center;
}
.posting-title ~ .posting-summary {
    overflow: auto;
    color: black;
}
.menulist{
    display: flex;
}
.postlist {
    display: flex;
    flex-wrap: wrap;
}
.menulist + .linkSection {
    color: slategray;
}
