body {
    margin: 0;
    padding: 0;
    background: #fff;
    color: #4a4a4a;
}
header, footer {
    font-size: large;
    text-align: center;
    padding: 0.3em 0;
    background-color: #4a4a4a;
    color: #f9f9f9;
}
nav {
    background: #eee;
    justify-content: space-evenly;
}
main {
    background: #f9f9f9;
}
aside {
    background: #eee;
}
.postlist {
    background-color: #f9f9f9;
    list-style: none;
}
.postlist > .pl-element > .posting {
    width: 300px;
    height: 400px;
    border-radius: 30px;
    box-shadow: 0 5px 25px rgb(0 0 0 / 15%);
    background-color: white;
    padding: 10px 10px 10px 10px;
    margin: 20px 20px 20px 20px;
}
.posting .thumbNail {
    text-align: center;
}
.posting img {
    width: 100%;
    height: 60%;
    object-fit: cover;
    border: 0.1px whitesmoke solid;
}
.posting .posting-title{
    font-size: 24px;
    text-align: center;
}
.posting-title ~ .posting-summary {
    overflow: auto;
    color: black;
}
.menulist{
    width: 80%;
    display: flex;
    justify-content: space-between;
}
.postlist {
    display: flex;
    flex-wrap: wrap;
}
.menulist + .linkSection {
    color: slategray;
    align-items: center;
}
ul {
    list-style: none;
}
